@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@300;400&display=swap');

/*-----Variable-----*/
:root{
    --bgColor: #1F1B2A;
    --greenColor: #B4E20D;
    --pinkColor: #F370C6;
    --whiteColor: #ffffff;

    --primFont: 'Bebas Neue', sans-serif;
    --secFont: 'Inter', sans-serif;

    --h1Size: 6rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bgColor);
}

ul{ list-style-type: none; }
a{ text-decoration: none; }

/*-----Blur Background-----*/
.blur1, .blur2{
    position:absolute;
    height:50vh;
    filter: blur(100px);
}
.blur1{
    background-color: var(--greenColor);
    width:100px;
    left:0;
    top:40%;
}
.blur2{
    background-color: var(--pinkColor);
    width:100px;
    right:0;
}

/*-----Navigacija-----*/
.navigation{
    position:fixed;
    z-index:5;
    top:0;
    left:5vw;
    height:4.375em;
    width:90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid var(--whiteColor);
}
.logo img{
    height:3em;
    margin-top:.7em;
}
.nav-links ul{
    display: flex;
    margin-right: 2em;
}
.nav-links li{
    margin-left:2em;
    font-family: var(--secFont);
    text-transform: uppercase;
    font-size: .8em;
}
.nav-links a{
    color: var(--whiteColor);
}
.nav-links a:hover, .sNav-links a:hover{
    color: var(--pinkColor);
    transition: .2s ease;
}
.socialMedia-nav img, .burger-menu svg{
    height: 1em;
}
#instagram, #tiktok{
    margin-right:1em;
}
.burger-menu{
    display: none;
}

/*-----Side Navigation-----*/
.side-nav{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100%;
    background-color: var(--bgColor);
    z-index: 4;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side-nav.active {
    right: 0;
}
.sNav-links ul{
    text-align: center;
    line-height: 4em;
}
.sNav-links a{
    font-family: var(--primFont);
    color:var(--whiteColor);
    font-size: 3em;
}
.socialMedia-sideNav{
    position: absolute;
    bottom:2em;
}


/*-----Responzivnost-----*/
@media screen and (max-width:768px){
    .nav-links, .socialMedia-nav{
        display: none;
    }
    .burger-menu{
        display: block;
    }
}
@media screen and (max-width:360px){
    .sNav-links a{
        font-size: 2em;
    }
    .socialMedia-sideNav img{
        height:1.4em;
    }
}
@media screen and (min-width:1440px){
    .navigation{
        height:6em;
    }
    .logo img{
        height:4em;
    }
    .nav-links a{
        font-size: 1.5em;
    }
    .socialMedia-nav img{
        height:1.5em;
    }
}
@media screen and (min-width:1920px){
    .navigation{
        height:7em;
    }
    .logo img{
        height:5em;
    }
    .nav-links a{
        font-size: 1.8em;
    }
    .socialMedia-nav img{
        height:1.8em;
    }
}
@media screen and (min-width:2400px){
    .navigation{
        height:8em;
    }
    .logo img{
        height:6em;
    }
    .nav-links a{
        font-size: 2.2em;
    }
    .socialMedia-nav img{
        height:2.2em;
    }
}